SUPABASE_URL=https://nklukqriopezsoalnghm.supabase.co
SUPABASE_SECRET_KEY=sb_secret_Y3F7fqZJaNdgz9Is6PvO-g_gEfc_b2L
ADMIN_PASSWORD=@Lpgb2010
ADMIN_SESSION_SECRET=UoGUvG79f4TTQdqM1VZ+L+KxqDftZjTGThWV2+K4R+Iz5SBJGQkdiLr5TP2opwW+
LINK4M_BASE_URL=https://link4m.co/api-shorten/v2
TRAFFICVN_BASE_URL=https://trafficvn.com/apidevelop
